---
import Layout from "../layouts/page.astro";
import { getCollection } from "astro:content";
import { CldImage } from "astro-cloudinary";
import Sidebar from "../components/Sidebar.astro";

const blogPosts = (await getCollection("blog")).filter(
  (post) => post.data.category === "Google Tag Manager"
);
---

<Layout title="Google Tag Manager">
  <h1 class="text-4xl pt-4 pb-4">Google Tag Manager</h1>
  <p class="text-3xl flex justify-center">Coming Soon...</p>
  <div
    class="ml-4 mr-4 md:flex gap-12 justify-center leading-6 font-light mt-8 pb-18"
  >
    <div>
      {
        blogPosts.map((post) => {
          return (
            <div class="post max-w-[700px] pt-4 pb-4 border-b border-gray-300">
              {post.data.image && (
                <a
                  href={`/${post.slug}`}
                  aria-label={`Read ${post.data.title}`}
                >
                  <CldImage
                    class="w-full"
                    src={post.data.image}
                    width={700}
                    height={350}
                    alt={post.data.title}
                  />
                </a>
              )}
              <p class="mt-4">
                <a
                  class="text-[#AC0C19] text-sm"
                  href={`/${post.data.category.toLowerCase().replace(/\s+/g, "-")}/`}
                >
                  {post.data.category}
                </a>
              </p>
              <h2>
                <a
                  class="text-[#1C1C1C] font-bold hover:underline hover:text-[#0093ff]"
                  href={`/${post.slug}`}
                >
                  {post.data.title}
                </a>
              </h2>

              <p>{post.data.description}</p>
              <a href={`/${post.slug}`} class="big-link" />

              <time class="text-xs" datetime={post.data.date.toISOString()}>
                {new Date(post.data.date).toLocaleDateString("en-US", {
                  year: "numeric",
                  month: "short",
                  day: "numeric",
                  timeZone: "UTC",
                })}
              </time>
            </div>
          );
        })
      }
    </div>
    <!-- Sidebar Section -->
    <Sidebar />
  </div>
</Layout>
