---
import Layout from "../layouts/default.astro";
import { getCollection } from "astro:content";
import { CldImage } from "astro-cloudinary";
import Sidebar from "../components/Sidebar.astro";
import { HOMEPAGE_ARTICLE_LIMIT } from "../constants";
import { ARTICLES_PER_PAGE } from "../constants";
import Pagination from "../components/Pagination.astro";

const blogPosts = (await getCollection("blog"))
  .sort(
    (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
  )
  .slice(0, HOMEPAGE_ARTICLE_LIMIT); // Limit the number of articles

const currentPage: number | null = +Astro.url.searchParams.get("page")! || 1;
const totalPages: number = Math.ceil(blogPosts.length / ARTICLES_PER_PAGE);
---

<Layout>
  <div class="ml-4 mr-4 md:flex gap-12 justify-center leading-6 font-light">
    <div>
      {
        blogPosts.map((post) => {
          return (
            <div class="post max-w-[700px] pt-4 pb-4 border-b border-gray-300">
              {post.data.image && (
                <a
                  href={`/${post.slug}`}
                  aria-label={`Read ${post.data.title}`}
                >
                  <CldImage
                    class="w-full"
                    src={post.data.image}
                    width={700}
                    height={350}
                    alt={post.data.title}
                  />
                </a>
              )}
              <p class="mt-4">
                <a
                  class="text-[#808080] text-sm"
                  href={`/${post.data.category.toLowerCase().replace(/\s+/g, "-")}/`}
                >
                  {post.data.category}
                </a>
              </p>
              <h2>
                <a
                  class="text-[#1C1C1C] font-bold hover:underline hover:text-[#0093ff]"
                  href={`/${post.slug}`}
                >
                  {post.data.title}
                </a>
              </h2>

              <p>{post.data.description}</p>
              <a href={`/${post.slug}`} class="big-link" />

              <time class="text-xs" datetime={post.data.date.toISOString()}>
                {new Date(post.data.date).toLocaleDateString("en-US", {
                  year: "numeric",
                  month: "short",
                  day: "numeric",
                  timeZone: "UTC",
                })}
              </time>
            </div>
          );
        })
      }
    </div>
    <!-- Sidebar Section -->

    <Sidebar />
  </div>
  <Pagination currentPage={currentPage} totalPages={totalPages} />
</Layout>
