---
import Layout from "../layouts/default.astro";
import { getCollection } from "astro:content";
import { CldImage } from "astro-cloudinary";

const blogPosts = await getCollection("blog");
---

<Layout>
  <section class="ml-4 mr-4">
    {
      blogPosts.map((post) => {
        return (
          <div class="post">
            {post.data.image && (
              <CldImage
                src="cld-sample-5"
                width="600"
                height="400"
                alt={post.data.title}
              />
            )}
            <p>
              <a
                href={`/${post.data.category.toLowerCase().replace(/\s+/g, "-")}/`}
              >
                {post.data.category}
              </a>
            </p>
            <h2>
              <a href={`/${post.slug}`}>{post.data.title}</a>
            </h2>
            <time datetime={post.data.date.toISOString()}>
              {post.data.date.toDateString()}
            </time>
            <p>{post.data.description}</p>
            <a href={`/${post.slug}`} class="big-link">
              read post
            </a>
          </div>
        );
      })
    }
  </section>
</Layout>
